<div>
    <i-button @click="addNew">新建工艺流转单</i-button>
    <i-button @click="searchInfo">刷新</i-button>
    <i-table v-bind:columns="sheetTableInfo.Columns" v-bind:data="sheetTableInfo.Data" v-bind:loading="sheetTableInfo.loading"></i-table>
    <Modal title="新增流转单"
           v-model="insertModal.isShow"
           v-bind:width="900">
        <i-Form ref="formItem" v-bind:model="insertModal.data" v-bind:label-width="100">
            <Form-Item label="工艺流转单号" prop="SheetNo">
                <i-Input v-model="insertModal.data.SheetNo" placeholder="请输入单号"></i-Input>
            </Form-Item>
            <Form-Item label="数量" prop="Number">
                <Input-Number v-model="insertModal.data.Number" style="{width:'200px'}"></Input-Number>
            </Form-Item>
        </i-Form>
        <div slot="footer">
            <i-Button type="primary" v-bind:loading="insertModal.loading" @click="insertPurchase">录入</i-Button>
        </div>
    </Modal>
    <Modal title="添加材料"
           v-model="insertProductModal.isShow"
           v-bind:width="900">
        <i-Form ref="formItem" v-bind:model="insertProductModal.data" v-bind:label-width="100">
            <Form-Item label="材料信息" prop="Number">
                <div v-if="JSON.stringify(insertProductModal.productInfo)  != '{}'">
                    <span>{{insertProductModal.productInfo.Material}}</span>
                </div>
                <proselector @callback="selectorCallBack"></proselector>
            </Form-Item>
            <Form-Item label="数量" prop="Number">
                <Input-Number v-model="insertProductModal.data.Number" style="{width:'200px'}"></Input-Number>
            </Form-Item>
        </i-Form>
        <div slot="footer">
            <i-Button type="primary" v-bind:loading="insertProductModal.loading" @click="insertPurchaseProduct">添加</i-Button>
        </div>
    </Modal>
    <Modal title="入库" v-model="receiveModel.isShow">
        <i-Form ref="formItem" v-bind:model="receiveModel.data" v-bind:label-width="100">
            <Form-Item label="入库数量" prop="GetNumber">
                <Input-Number v-model="receiveModel.data.MadeNumber" style="{width:'200px'}"></Input-Number>
            </Form-Item>
        </i-Form>
        <div slot="footer">
            <i-Button type="primary" v-bind:loading="receiveModel.loading" @click="madeProduct()">入库</i-Button>
        </div>
    </Modal>
</div>